body {
  font-family: 'Inter', sans-serif; 
  color: var(--color-text-light);
  background-color: var(--color-bg-dark);
  line-height: 1.6;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  transition: 0.3s ease;
}

a:hover {
  color: var(--color-accent-hover);
  transition: 0.3s ease;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif; 
}

html{
  -webkit-text-size-adjust: 100%;
}