:root {
  /* Background */
  --color-bg-dark: #fdfdfd; /* background principale – quasi bianco */
  --color-bg-section-dark: #f5f5f5; /* sezioni */
  --color-bg-section-darker: #eeeeee; /* alternative section */
  --color-bg-footer: #eaeaea; /* footer chiaro ma distinto */

  /* Text */
  --color-text-light: #1a1a1a; /* testo principale (quasi nero) */
  --color-text-muted: #666666; /* testo secondario */
  --color-text-footer: #555555; /* testo footer */

  /* Borders */
  --color-border-light: rgba(0, 0, 0, 0.05); /* bordi delicati */
  --color-border-dark: #cccccc;
  --color-border-darker: #bbbbbb;
  --color-border-darkest: #999999;

  /* Accent color (elegante, caldo e raffinato) */
  --color-accent: #b27355; /* terracotta chiaro */
  --color-accent-hover: #9c5d43; /* più intenso al passaggio */
  --color-accent-rgba: rgba(178, 115, 85, 0.8);
  --color-accent-rgba-hover: rgba(156, 93, 67, 0.9);
  
  --color-hover-white: #e4e4e4;

}

